.container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .container {
    display: block;
  }
}

.mainContent {
  width: 60%;
}
.mainContent h2 {
  font-size: 1.8rem;
}
.mainContent h2::before {
  content:"「";
}
.mainContent h2::after {
  content:"」の記事一覧";
}
@media (max-width: 600px) {
  .mainContent {
    width: 100%;
  }
}
.mainContent header {
  padding: 0 0 20px;
  text-align: center;
}
.mainContent footer {
  margin: 0 auto;
}
@media (max-width: 600px) {
  .mainContent footer {
    margin: 0 auto 40px;
  }
}

.subContent {
  width: 35%;
}
@media (max-width: 600px) {
  .subContent {
    width: 100%;
  }
}

.post {
  margin: 0 auto 100px;
}
.postContair{
  display: flex;
  flex-direction: row;
  gap: 4vh;
  padding-bottom: 100px;;
  border-bottom: 1px solid #ddd;
}
.thumbnail{
  width:300px;
  height: 160px;
  filter: drop-shadow(0 3px 5px rgba(0,0,0,0.4));
  overflow: hidden;
}
.thumbnail:hover{
  opacity: 0.7;
}
.thumbnail img {
  cursor: pointer;
  transition: 0.3s;
}
.thumbnail img:hover{
  transform: scale(1.3);
}
.postContent{
  width:100%;
}
@media (max-width: 1280px) {
  .postContair {
    flex-direction: column;
  }
  .thumbnail{
    width:100%;
    text-align: center;
  }
}

.post :global(h3) {
  margin: 1rem 0;
  color: var(--fg);
}
.post :global(h4) {
  margin: 2.2rem 0 2.4rem;
  color: var(--fg);
  font-size: 1.8rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.1em;
  line-height: 1.5;
}

.post :global(h5) {
  margin: 2.2rem 0 2.4rem;
  color: var(--fg);
  font-size: 1.6rem;
  line-height: 1.5;
}

.post :global(h6) {
  margin: 1.8rem 0 0.8rem;
  color: var(--fg);
  font-size: 1.2rem;
}

.post :global(p) {
  margin: 0 0 1.5rem 0;
  font-size: 1rem;
  min-height: 1.8rem;
}
.post :global(video),
.post :global(img) {
  max-width: 100%;
  display: inline-block;
  filter: drop-shadow(0 3px 5px rgba(0,0,0,0.4));
  border-radius: 6px;
}
.post :global(blockquote) {
  margin: 0.6rem 0;
  padding: 0 0.9rem;
  border-left: 3px solid #9dacb7;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #505c64;
}
.post table {
  margin: 1rem 0;
}
.post ul {
  font-size: 1rem;
}
.post ol {
  font-size: 1rem;
}
.post p code {
  color: #eb5757;
  padding: 0.25rem;
}
.post footer {
  padding: 0;
  border: 0;
}
