.likeButton {
  background-color: transparent;
  border: none;
  font: inherit;
  line-height: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(231, 76, 60);
  color: white;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.likeButton:active {
  opacity: 0.6;
}
