.container {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

.container > div {
  margin-bottom: 40px;
}
.container div:last-child {
  margin-bottom: 0;
}

.container h2 {
  font-size: 1.8em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.1em;
  font-weight: bold;
  line-height: 1.5;
  font-feature-settings: "palt";
  margin-top: 2.2em;
  margin-bottom: 2.4rem;
  cursor: pointer;
}

.container p {
  margin: 0.3rem auto;
  line-height: 2rem;
}
